@layer components {
  .vuwi {
    &-dropdown {
      @apply relative
      flex
      gap-2
      items-center
      border border-gray-200
      bg-white
      rounded
      pr-2
      py-1
      dark:border-none
      dark:bg-gray-600;

      select {
        @apply bg-transparent 
        focus:outline-none 
        py-1 
        w-full 
        px-2 
        text-black 
      dark:text-white;
        &.label {
          @apply pt-4;
        }
      }
    }
  }
}
