@layer components {
  .vuwi {
    &-text-input {
      @apply relative flex gap-2 items-center rounded px-3
      focus-within:border-primary focus-within:!border-opacity-100;

      label {
        @apply block text-xs mb-1 pointer-events-none text-black 
        dark:text-white text-opacity-40 dark:text-opacity-40;
        margin-bottom: -1px;
      }

      input, textarea {
        @apply bg-transparent focus:outline-none h-full w-full text-black dark:text-white resize-none py-1;
      }
    }
    
    &-text-input-error {
      @apply border-red-600 
      focus-within:border-red-600 focus-within:!border-opacity-100;

      label {
        @apply text-red-600 dark:text-red-400 text-opacity-100 dark:text-opacity-100;
      }
    }

    &-text-input-disabled {
      @apply opacity-50;

      label {
        @apply text-black dark:text-white text-opacity-40 dark:text-opacity-40 -mb-1;
      }
    }
  }
}
