@layer components {
  .vuwi {
    &-spinner {
      @apply inline-block border-2 border-current border-r-transparent rounded-full w-12 h-12 align-middle;
      -webkit-animation: spinner 1s linear infinite;
	    animation: spinner 1s linear infinite;
    }
  }
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
