@layer components {
  .vuwi {
    &-spinner {
      @apply inline-block border-2 border-current border-r-transparent rounded-full w-12 h-12 align-middle;
      animation: spin 1s linear infinite;
    }

    &-spin-fastest {
      animation: spin 0.25s linear infinite;
    }

    &-spin-faster {
      animation: spin 0.5s linear infinite;
    }

    &-spin-fast {
      animation: spin 0.75s linear infinite;
    }

    &-spin {
      animation: spin 1s linear infinite;
    }

    &-spin-slow {
      animation: spin 2s linear infinite;
    }

    &-spin-slower {
      animation: spin 3s linear infinite;
    }

    &-spin-slowest {
      animation: spin 4s linear infinite;
    }

    @-webkit-keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
