@layer components {
  .vuwi {
    &-center {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &-vcenter {
      top: 50%;
      transform: translateY(-50%);
    }

    &-hcenter {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}