@layer components {
  .vuwi {
    &-toast {
      @apply fixed
        bottom-0
        right-0
        w-full
        sm:rounded-lg sm:w-96 sm:bottom-2 sm:right-2
        px-2 py-3;
    }
    &-toast-left {
      @apply fixed
        bottom-0
        right-none
        left-0
        w-full
        sm:rounded-lg sm:w-96 sm:bottom-2 sm:right-2;
    }
    &-toast-left&-toast-navbar {
      @apply left-0 sm:left-2 lg:left-78
    }

    &-toast-enter-active {
      transition: all 0.2s ease-out;
    }

    &-toast-leave-active {
      transition: all 0.2s ease-in;
    }

    &-toast-enter-from,
    &-toast-leave-to {
      transform: translateY(20px);
      opacity: 0;
    }
  }
}
