@layer components {
  .vuwi {
     &-switch {
      @apply inline-flex items-center cursor-pointer;
      input ~ .dot {
        @apply absolute left-1 top-1 w-4 h-4 rounded-full transition bg-white;
      };
      input ~ .pill {
        @apply rounded-full w-10 h-6 bg-gray-300  dark:bg-gray-600;
      };
      input:checked ~ .dot {
        transform: translateX(100%);
      };
      input:checked ~ .pill {
        @apply bg-green-500;
      };
    }
  }
}