@layer components {
  .vuwi {
    &-switch {
      @apply inline-flex items-center cursor-pointer align-top;
      input ~ .dot {
        @apply absolute left-1 top-1 w-6 h-6 rounded-full transition bg-white;
      }
      input ~ .pill {
        @apply transition rounded-full w-14 h-8 bg-black bg-opacity-10 dark:bg-dark-800;
      }
      input:checked ~ .dot {
        transform: translateX(100%);
      }
      input:checked ~ .pill {
        @apply bg-green-500;
      }
      &.disabled {
        @apply cursor-default;
        &-switch-label {
          @apply opacity-50;
        }
        input ~ .dot {
          @apply bg-white bg-opacity-90 dark:bg-opacity-15;
        }
        input:checked ~ .pill {
          @apply bg-black bg-opacity-5 dark:bg-white dark:bg-opacity-5;
        }
      }
    }

    &-switch-sm {
      input ~ .dot {
        @apply w-4 h-4;
      }
      input ~ .pill {
        @apply w-10 h-6;
      }
    }

    &-switch-lg {
      input ~ .dot {
        @apply w-8 h-8;
      }
      input ~ .pill {
        @apply w-18 h-10;
      }
    }
  }
}
