@layer components {
  .vuwi {
    &-collapse {
      @apply overflow-hidden dark:bg-gray-800;
    }

    &-collapse ~ &-collapse {
      margin-top: -1px;
    }

    &-collapse-header {
      @apply relative p-3 flex justify-between items-center border dark:border-gray-700;
    }

    &-collapse-content {
      @apply border dark:border-none p-2;
      margin-top: -1px;
    }

    &-collapse-enter-active,
    &-collapse-leave-active {
      will-change: height, opacity;
      transition: height 300ms ease, opacity 300ms ease;
      overflow: hidden;
    }

    &-collapse-enter-from,
    &-collapse-leave-to {
      height: 0 !important;
      opacity: 0;
    }
  }
}
