@layer components {
  .vuwi {
    /* Collapse */
    &-collapse {
      @apply overflow-hidden;
    }

    &-collapse ~ &-collapse {
      margin-top: -1px;
    }

    &-collapse-header {
      @apply relative p-3 flex justify-between items-center border;
      /* background-color: rgba(249, 250, 251, 1) */
    }

    &-collapse-content {
      margin-top: -1px;
    }

    &-collapse-enter-active,
    &-collapse-leave-active {
      will-change: height, opacity;
      transition: height 300ms ease, opacity 300ms ease;
      overflow: hidden;
    }

    &-collapse-enter-from,
    &-collapse-leave-to {
      height: 0 !important;
      opacity: 0;
    }
  }
}
