@layer components {
  .wi {
    &-progress-circle {
      @apply absolute top-0 left-0 w-full h-full rounded-full;
    }
    &-progress-circle-label {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
