@layer components {
  .vuwi {
    &-overlay {
      background-color: #00000030;
      @apply fixed items-center top-0 left-0 w-screen h-screen overflow-y-auto z-10;
    }
    &-overlay-left {
      @apply fixed top-0 left-0 h-full z-10;
    }
    &-overlay-right {
      @apply fixed top-0 right-0 h-full z-10;
    }
    &-overlay-bottom {
      @apply fixed bottom-0 left-0 w-full z-10;
    }
    &-overlay-center {
      @apply fixed top-0 left-0 w-screen h-screen flex sm:items-center justify-center overflow-auto z-10;
    }

    /* Overlay */
    &-fade-enter-active,
    &-fade-leave-active {
      transition: opacity 0.3s ease;
    }

    &-fade-enter-from,
    &-fade-leave-to {
      opacity: 0;
    }

    /* Overlay Center */
    &-center-enter-active {
      transition: all 0.2s ease-out;
    }

    &-center-leave-active {
      transition: all 0.2s ease-in;
    }

    &-center-enter-from,
    &-center-leave-to {
      transform: translateY(20px);
      opacity: 0;
    }

    /* Overlay Left */
    &-left-enter-active {
      transition: all 0.2s ease-out;
    }

    &-left-leave-active {
      transition: all 0.2s ease-in;
    }

    &-left-enter-from,
    &-left-leave-to {
      transform: translateX(-100%);
    }

    /* Overlay Right */
    &-right-enter-active {
      transition: all 0.2s ease-out;
    }

    &-right-leave-active {
      transition: all 0.2s ease-in;
    }

    &-right-enter-from,
    &-right-leave-to {
      transform: translateX(100%);
    }

    /* Overlay Bottom */
    &-bottom-enter-active {
      transition: all 0.2s ease-out;
    }

    &-bottom-leave-active {
      transition: all 0.2s ease-in;
    }

    &-bottom-enter-from,
    &-bottom-leave-to {
      transform: translateY(100%);
    }
  }
}
