@layer components {
  .vuwi {
    /* Fade */
    .fade-enter-active {
      transition: opacity 200ms ease-out;
    }

    .fade-leave-active {
      transition: opacity 200ms ease-in;
    }

    .fade-enter-from,
    .fade-leave-to {
      opacity: 0;
    }

    /* Slide Down */
    .slide-down-enter-active {
      transition: all 200ms ease-out;
    }

    .slide-down-leave-active {
      transition: all 200ms ease-in;
    }

    .slide-down-enter-from,
    .slide-down-leave-to {
      transform: translateY(-10px);
    }
  }
}
