@layer components {
  .vuwi {
    &-avatar {
      font-size: 1.125rem;
      line-height: 1.75rem;
      height: 3rem;
      width: 3rem;
      max-width: 3rem;
      min-width: 3rem;
      max-height: 3rem;
      min-height: 3rem;

      .initial {
        @apply w-full h-full flex justify-center items-center;
      }
    }
    &-avatar-sm {
      font-size: 0.875rem;
      line-height: 1.25rem;
      height: 2rem;
      width: 2rem;
      max-width: 2rem;
      min-width: 2rem;
      max-height: 2rem;
      min-height: 2rem;
    }
    &-avatar-lg {
      font-size: 2.125rem;
      line-height: 2.75rem;
      font-weight: 300;
      height: 5rem;
      width: 5rem;
      max-width: 5rem;
      min-width: 5rem;
      max-height: 5rem;
      min-height: 5rem;
    }
    &-avatar-xl {
      font-weight: 100;
      font-size: 4.5rem;
      line-height: 1;
      height: 8rem;
      width: 8rem;
      max-width: 8rem;
      min-width: 8rem;
      max-height: 8rem;
      min-height: 8rem;
    }
  }
}
