@layer components {
  .vuwi {
    &-container {
      @apply py-8 flex items-center;
    }
    &-contents {
      @apply w-full mx-auto max-w-4xl;
    }
    &-card {
      @apply border rounded;
      &.shadow {
        @apply border-none filter drop-shadow-sm;
      }
    }
    &-header {
      @apply font-medium text-2xl;
    }
    &-col-2 {
      @apply grid grid-cols-1 sm:grid-cols-2 gap-4;
    }
    &-col-3 {
      @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4;
    }
    &-row {
      @apply flex items-center gap-2;
    }
    &-dialog {
      @apply w-full rounded filter shadow-lg;
    }
    &-drawer {
      @apply h-full;
    }
    &-window {
      @apply border rounded pt-5 overflow-hidden overflow-y-auto;
      &:before {
        content: '';
        @apply block w-3 h-3 rounded-full opacity-30 mb-4;
        box-shadow: 1.4em 0, 2.8em 0, 4.2em 0;
      }
    }
    &-center {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &-avatar {
      font-size: 1.125rem;
      line-height: 1.75rem;
      height: 3rem;
      width: 3rem;
      max-width: 3rem;
      min-width: 3rem;
      max-height: 3rem;
      min-height: 3rem;
    }
    &-avatar-sm {
      font-size: 0.875rem;
      line-height: 1.25rem;
      height: 2rem;
      width: 2rem;
      max-width: 2rem;
      min-width: 2rem;
      max-height: 2rem;
      min-height: 2rem;
    }
    &-avatar-lg {
      font-size: 2.125rem;
      line-height: 2.75rem;
      font-weight: 300;
      height: 5rem;
      width: 5rem;
      max-width: 5rem;
      min-width: 5rem;
      max-height: 5rem;
      min-height: 5rem;
    }
    &-avatar-xl {
      font-weight: 100;
      font-size: 4.5rem;
      line-height: 1;
      height: 8rem;
      width: 8rem;
      max-width: 8rem;
      min-width: 8rem;
      max-height: 8rem;
      min-height: 8rem;
    }
  }
}
