@layer components {
  .vuwi {
    &-alert {
      @apply flex
        justify-between
        items-center
        rounded
        dark:text-white
        bg-black bg-opacity-10
        mb-4;
    }

    &-alert-enter-active {
      transition: all 0.2s ease-out;
    }

    &-alert-leave-active {
      transition: all 0.2s ease-in;
    }

    &-alert-enter-from,
    &-alert-leave-to {
      transform: translateY(-20px);
      opacity: 0;
    }
  }
}
