@layer components {
  .vuwi {
    /* Application */
    &-main {
      @apply min-h-screen w-full bg-white dark:bg-dark-900 dark:text-gray-300 overflow-x-hidden;
    }

    /* Position */
    &-tl {
      left: 0;
      top: 0;
    }

    &-tc {
      top: 0;
      left: 50%;
      transform: translateX(-50%) !important;
    }

    &-tr {
      top: 0;
      right: 0;
    }

    &-ml {
      top: 50%;
      transform: translateY(-50%) !important;
      left: 0;
    }

    &-mc {
      top: 50%;
      transform: translate(-50%, -50%) !important;
      left: 50%;
    }

    &-mr {
      top: 50%;
      transform: translateY(-50%) !important;
      right: 0;
    }

    &-bl {
      bottom: 0;
      left: 0;
    }

    &-bc {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%) !important;
    }

    &-br {
      bottom: 0;
      right: 0;
    }

    /* Component */
    &-card {
      @apply bg-white dark:bg-dark-800 dark:text-light-800;
    }

    &-card-inverted {
      @apply bg-dark-800 text-light-800;
    }

    &-text-inverted {
      @apply text-dark-50 dark:text-dark-900;
    }

    /* Columns */
    &-col-3 {
      @apply grid grid-cols-3;
    }
    &-col-3-1 {
      @apply grid grid-cols-1 lg:grid-cols-3;
    }
    &-col-3-2-1 {
      @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3;
    }
    &-col-2 {
      @apply grid grid-cols-2;
    }
    &-col-2-1 {
      @apply grid grid-cols-1 md:grid-cols-2;
    }
    &-col-1 {
      @apply grid;
    }

    /* Row */
    &-row {
      @apply flex items-center;
    }

    /* Content */
    &-content {
      @apply w-full mx-auto max-w-4xl;
    }
    &-title {
      @apply text-gray-900 dark:text-gray-100;
    }
    &-text {
      @apply text-gray-800 dark:text-gray-300;
    }

    /* Transitions */
    .fade-up-enter-active {
      transition: all 200ms ease-out;
    }

    .fade-up-leave-active {
      transition: all 200ms ease-in;
    }

    .fade-up-enter-from,
    .fade-up-leave-to {
      opacity: 0;
      transform: translateY(10px);
    }

    /* Slide Down */
    .slide-down-enter-active {
      transition: all 200ms ease-out;
    }

    .slide-down-leave-active {
      transition: all 200ms ease-in;
    }

    .slide-down-enter-from,
    .slide-down-leave-to {
      opacity: 0;
      transform: translateY(-10px);
    }
  }
}
